.watch{
	.top{
		display: flex;
		background-color: #fff;
		height: 70px;
	align-items: center;
	padding: 0 20px;
		.breadcrumb {
			font-family: var(--font-2);
			
		  
			ul {
			  margin-top: 0;
			  padding: 0px;
			  font-size: var(--f-14);
			  height: 24px;
			  display: flex;
			  align-items: center;
			  li {
				display: flex;
				align-items: center;
		  
				&:last-child {
				  white-space: nowrap;
				  overflow: hidden;
				  text-overflow: ellipsis;
				  display: inline-block;
				}
			  }
			}
		  }
	}
	.wrapper{
		display: flex;
		height: 100%;
		p{
			margin: 0 ;
		}

		.content_list{
			width: 22.3%;
			background-color:#30656F;
			min-height:700px;
			color: #fff;
			p{
				margin: 0 ;
				height: 60px;
				display: flex;
				align-items: center;
			   font-size: var(--f-16);
			   font-family: var(--font-2);
			   padding-left: 20px;
			   background-color: #015351;
			}
			.content {
				padding-top: 0px;
				font-size: var(--f-14);
				font-family: var(--font-2);
				max-height: 400px;
				
				ul {
				  padding: 0;
				  li {
					width: 100%;
					display: inline-flex;
					justify-content: space-between;
					align-items: center;
					padding-right: 20px;
					height: 40px;
                    padding-left: 20px;
					margin-bottom: 5px;

					.f_sp {
						width: 60%;
						display: inline-block;
						text-decoration: none;
						align-items: center;
					}
					.r_l{	
						width: 80% ;
					}
					svg {
					  vertical-align: middle;
					}
					&:hover{
						background-color: #091f1f;
					}
				  }
				}
			}
			
		}
        
		.active_vid	{
			background-color: #091f1f;
		}
		
		.main_sec{
			font-size: var(--f-16);
			font-family: var(--font-2);
			line-height: 1.5;
			flex: 1;
			
			.summary{
				margin-top: 0px;
                margin-bottom: 20px;
				span{
					min-height: 120px;
				}
			}
			.reference{
				display: flex;
				flex-direction: column;
				text-decoration: underline;
				font-size: var(--f-14);
				color:#C03E21 ;
				*{
					margin: 10px 0px;
				}
				
			}
		}
	}
	.close_videotab{
		position: absolute;
		top: -10px;
		right:-45px;
		display: none;
	}
	.view_Mcontents{ 
		background: #30656F; 
		color: #fff; 
		padding: 20px;
		display: none;
		&:hover{
			cursor: pointer;
		}
	}
	.simulate{
		display: none;
	}
}
.modalClass{
	display: flex;
	gap: 25px;
}
.subTo{
	font-family: var(--font-2);
	font-size: var(--f-16);
	text-align: center;
	margin-bottom: 0;
	color:#015351;
	font-weight: bold;
}
.quiz_wrapper{
	padding: 40px;
	.top{
		display: flex;
		justify-content: space-between;
		font-weight: bold;
		background-color: transparent;
		
		span{
			color:#C03E21;
		}
	}

	:global(.title){
		font-size: var(--f-24);
		margin-bottom: 7px;
		+p{
			font-size: var(--f-16);
			color:#637170;
		}
	}
	.options_box{

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width:60%;
		margin:20px 0px 40px 0px;

		p{
			display: flex;
			margin: 10px 0px;
			align-items: center;
		}
	}
	.btn_nav{
		display: flex;
		align-items: center;
		justify-content: flex-end;
		button{
			margin-left: 20px;
		}
	}
}


@media only screen and (max-width: 1024px) {
	.watch{
		.wrapper{
			.content_list{
				
				width: 35%;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	.watch{
		.wrapper{
			.content_list{
				position: fixed;
				z-index: 10;
				width: 50%;
			}
		}
		.close_videotab{
			display: inline;
			&:hover{
				cursor: pointer;
			}
		}
		.view_Mcontents{
			display: block;
		}
		.hideIt{
			display: none;
		}
		.simulate{
			display:block ;
			height: 90vh;
			width: 50%;
			right: 0;
			position: fixed;
			z-index: 200;		 
		}
	}
	
}


@media only screen and (max-width: 425px) {
	.watch{
		.wrapper{
			.content_list{				
				width: 90%;
			}
		}
	}
}