.video_card {
  width: 31%;
  height: 450px;
  border-radius: 8px;
  margin-top: 25px;
 

  .video_thumbnail {
    position: relative;
    height: 209px;
    border-radius: 8px 8px 0px 0px;
    img {
      object-position: 50% 50%;
      object-fit: cover;
      border-radius: 8px;
    }
    .overlay {
      display: flex;
      flex-direction: column;

      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 8px 8px 0px 0px;
      width: 100%;
      height: 100%;
      padding: 10px;
      font-family: var(--font-2);

      p {
        display: flex;
        align-items: center;
        color: #fff;
        margin: 0px;
        font-size: 1.4rem;
        &:nth-of-type(1) {
          text-align: right;
        }
        &:nth-of-type(2) {
          display: flex;
          color: #7c7c7c;
          justify-content: center;
          align-items: center;
          flex: 1;
          &:hover {
            color: #bdbbbb;
          }
        }
      }
      .bookmark{
        display: flex;
        justify-content: flex-end;
        color:#fff;
        span{
        border: 1px solid #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width:32px;
        height: 32px;
        border-radius: 100%;
        }
      }
      .bookmarked{
        background-color: #fff;
        color: #000;
      }
    }
  }
  .video_info {
    font-size: var(--f-14);
    font-family: var(--font-2);
    
    :global(.title) {
      font-size: var(--f-20);
      margin-bottom: 10px;
      width: 300px;
    }
  }
  .rating_div {
    display: flex;
    gap: 2px;
    color: #d78806;
    align-items: center;
    margin-top: 12px;
  }
  .min_details {
    margin: 28px 0px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    span {
      display: flex;
      align-items: center;
    }
  }
  .content_labels {
    display: flex;
    align-items: center;
    height: 70px;
    gap: 10px;
    :global(.btn) {
      height: 34px;
      border-radius: 8px;
      font-size: var(--f-14);
      color: #111111;
      padding: 8px 12px;
    }
  }
  .elipsis_y {
    margin-left: auto;
    margin-right: 20px;
  }
}
.to_enjoy_course{
  height: 100px;
  font-family: var(--font-2);
  font-size: var(--f-18);
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  line-height: 1.8;
  a{
    color: #015351; 
    font-weight: bold;
  }
  
}
.modalClass{
  width: 32%;
}

@media only screen and (min-width: 1273px) and (max-width: 1282px) {
  .video_card {
    width: 28%;
  }
}
@media only screen and (max-width: 1274px) {
  .video_card {
    width: 45%;
  }
}
@media only screen and (min-width: 755px) and (max-width: 850px) {
  .video_card {
    .video_info {
      font-size: var(--f-12);
    }
  }
}

@media only screen and (max-width: 754px) {
  .video_card {
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .video_card {
    .video_info {
      font-size: var(--f-12);
    }
   
  }
}


