.li_tab{
	display: flex;
	align-items: center;
	list-style: none;
	color: #7C7C7C;
	background: rgba(245, 195, 200,0.5);
	margin-bottom: 15px;
	padding: 10px;
	font-size: var(--f-14);
	border-radius: 8px;
	svg{
		width:20px;
		height: 20px;
		margin-right: 5px;
	}
}