.ratings_gen{
    display: flex;
    justify-content: space-between;
    padding: 0 25px;

    :global(.star_container){
        width: 55px;
        height: 55px;
        :global(.star_glider){
            width: 55px;
            height: 55px;
            
        }
        &:hover{
            cursor: pointer;
        }
    }  
    
}
