.profile_wrapper {
  display: flex;
  flex-direction: column;
  font-family: var(--font-2);
  padding-left: 35px;
  > div {
    display: flex;
    margin-bottom: 40px;
  }
  .personal_info {
    margin-bottom: 10px;
  } 
  .title{
    display: none;
    font-size: var(--f-18);
    
  }
 
  .lft {
    width: 27%;

    h3 {
      font-size: var(--f-24);
      font-weight: 400;
    }
    p {
      margin: 5px 0px;
      color: #7c7c7c;
      line-height: 2rem;
      font-size: var(--f-14);
    }
  }
  .dx_al {
    align-items: center;
  }
  .ryt {
    display: flex;
    width: 66%;
    padding-left: 60px;
    .avatar_wrapper {
      display: block;
      border: 1px solid red;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 2px;
      .avatar {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        padding: 5px;
      }
    }
  }
  .split_phone {
    display: flex;
    gap: 10px;
    label {
      &:nth-of-type(1) {
        width: 102px;
        flex-shrink: 0;
      }
    }
    .nigeria {
      position: absolute;
      top: 28px;
      left: 38px;
    }
    .number {
      position: absolute;
      top: 34px;
      left: 0px;
      font-size: var(--f-16);
      color: #7c7c7c;
    }
    .phone {
      padding-left: 40px;
    }
  }
  .radio_div {
    label {
      width: 228px;
      height: 54px;
      justify-content: center;
      font-size: var(--f-16);
      font-weight: bold;
      margin-right: 20px;
      border: 1px solid #e5e5e5;
      margin-bottom: 20px;
      svg {
        width: 18px;
        height: 18px;
      }
    }
    input[type='radio']:checked {
      + label {
        background: #e3eee7;
      }
    }
  }
  .btn_con {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    button {
      background-color: var(--btn-col-1);
    }
  }
}


@media only screen and (max-width: 927px) {
  .profile_wrapper {
    padding-left: 0;
   
    .title{
      display: flex;
      justify-content: center;
      border: none;
    }
    .lft{
      display: none;
      padding-left: 0;
    }
    .ryt{
      width: 100%;
      padding-left: 0;
      flex-direction: column;
      
    }
    .avatar_wrapper {
      margin-bottom: 10px;
      + svg{
        display: none;
      }
    }
  }

}

@media only screen and (max-width: 425px) {
  .profile_wrapper {
    .radio_div{
      display: flex;
    }
  }
  .btn_con {
    button{
      width: 100%;
    }
  }

}