.rec{
	text-align: center;
	color: rgb(0, 0, 0);
	background: rgb(227, 238, 231);
	margin: 0px;
	height: 25px;
	font-size: 1.4rem;
	padding-top: 5px;
	border-radius: 8px 8px 0px 0px;
	transform: translateY(4px);
}

#fst{
				        
	border:1px solid red;
}

.modalClass{
	width: 70%;
	height: 65vh;
	
   
}

.modalClass2{
	width: 50%;
}


.sub_card{
	width: 312px;
	height: 290px;
	background-color: #e1e5e8;
	border-radius: 8px;
	padding: 20px;
	font-size: var(--f-14);
	display: flex;
	flex-direction: column;
	color: #000;
	.img_dx{
		display: flex;
		align-items: center;
		margin-bottom: 35px;
		.img_bx{
			width:60px;
			height:60px;
			background-color: #fff;
			border-radius: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-right: 15px;
			span{
				display: block;
				width:32px;
				position: relative;
				height:32px;
				border-radius: 8px;
			}
			
		}
	}
	.amt{
	 font-family: Gascogne-DemiBold, sans-serif;
	 font-size: var(--f-20);
	 margin-bottom:4px;
	 +span{
		 font-family: var(--font-2);
		 font-size: var(--f-14);
		}
	}
	.p{
	
		display: flex;
		text-align: left;
		align-items: center;
		margin: 0px;
		margin-bottom: 10px;

		+ button{
		  margin-top: auto;
		  margin-bottom: 5px;
		  background: transparent;
		  color: #000;
		  border: 1px solid #000;
		}
	}
	&:hover{
		background-color: #015351;
	   color: #fff;

		.p{
			+ button{
				margin-top: auto;
				margin-bottom: 5px;
				background: #C03E21;
				color:#fff;
				border: 1px solid transparent;
			}
		}
	}
  }
 .hder{
	width:60%;
	margin: 0 auto;
	text-align: center;
 }
 
  .enter_code_div{
    min-width: 100%;  
	width:80%;
	
	.payplan{
	
		justify-content: center;
		align-items: center;
		:global(.title){
			border-bottom: none;
			padding: 20px;
			font-size: var(--f-32);
			+p{
				font-size: 1.6rem;
			}
		}
		.choosepay{
			display: flex;
			gap:35px;
			margin:50px 0px;

			justify-content: center;
			article{
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 35%;
				border: 1px solid #E5E5E5;
                border-radius: 8px;
				height: 262px;
				padding: 0 12px;
				text-align: center;
				:global(.title){
					font-size: var(--f-24);
				}
			}
		}
	}
	

	form{
		min-height: 135px;
		
	}
  }
  .inputWraper{
	width: 60% !important;
	
  }
  .skip{
    color: #015351;
    font-size: 1.6rem;
    font-family: var(--font-2);
  }
  .codeloading{
	border: 1px solid #015351;
	border-bottom-color: transparent;
    border-top-color: transparent;
  }

  .hylyt{
	background-color: #015351;
	color: #fff;

	.p{
		+ button{
			margin-top: auto;
			margin-bottom: 5px;
			background: #C03E21;
			color:#fff;
			border: 1px solid transparent;
		}
	}

}
.form{
	width:400px;
	
}

.choosepayx{
   display: flex;   
   justify-content: center;
   gap:35px;
   margin:50px 0px;
   min-height: 200px;
   width: 900px;
   article{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 38%;
	border: 1px solid #E5E5E5;
	border-radius: 8px;
	height: 262px;
	padding: 0 12px;
	text-align: center;
	&:hover{
		cursor: pointer;
		color: #fff;
		background: #015351;
	}
	:global(.title){
		font-size: var(--f-24);
		+p{
			font-size: var(--f-16);
		}
	}
   }
}
.loaderWrapper{
	.p{
	
		display: flex;
		text-align: left;
		align-items: center;
		margin: 0px;
		margin-bottom: 10px;
        font-family: var(--font-2) !important;
		+ button{
		  margin-top: auto;
		  margin-bottom: 5px;
		  background: transparent;
		  color: #000;
		  border: 1px solid #000;
		}
	}
	
	
}

.sub_card{
	.p{
		font-family: var(--font-2) !important;
		font-size: var(--f-14)  !important;
	}
}
.sub_desc_wrapper{

		width: 50px;
		height: 50px;
		position: relative;
		margin-bottom: 3rem;
	
}