.resetPw {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
  }
  .topSection {
    text-align: center;
    h2 {
      font-size: var(--f-32);
      + p {
        font-size: var(--f-16);
        color: var(--txt-col2);
        font-family: var(--font-2);
        width: 81%;
        margin: 25px auto;
      }
    }
  }

  .fg_pass {
    font-size: var(--f-14);
    font-family: var(--font-2);
    color: var(--col-sec);
  }
  .sign_up {
    display: flex;
    justify-content: flex-end;
    font-family: var(--font-2);
    font-size: var(--f-16);
    margin-top: 40px;
    align-items: center;
    span {
      color: #637170;
    }
    a {
      color: var(--col-sec);
      text-decoration: underline;
      font-weight: bold;
      margin-left: 5px;
    }
    button {
      background-color: var(--btn-col-1);
      width: 212px;

      svg {
        margin-top: 5px;
        margin-left: 7px;
      }
    }
  }
}
