.header {
  display: flex;
  height: 70px;
  align-items: center;
  padding-top: 12px;
  .hamburger{
    display: none;
  }
  .logo_box {
    position: relative;
    width: 148px;
    height: 26px;
  }
  .navi_box {
    display: flex;
    flex: 1;
    .nav_ul {
      font-family: var(--font-2);
      li {
        padding: 0px 20px;
        font-size: var(--f-16);
        font-weight: 500;
        &:hover{
          cursor: pointer;
          color: #C03E21;
        }
      }
    }
  }
  .avatar_div {
    align-items: center;
    display: flex;
    width: 300px;
    justify-content: space-between;
    .avatar {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      background-color: #d9d8d5;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      img {
        border-radius: 50%;
        object-position: center center;
      }
    }
    .log_auth {
      position: relative;
      display: flex;
      align-items: center;

          :global(.navi){
            visibility: hidden;
            opacity: 0;
          }
      &:hover{
        :global(.navi){
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .upgrade {
      background: transparent;
      border: 1px solid #000;
      color: #000;
      padding: 0px 15px;
    }
  }
  .subCardsWrapper{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-height: 90vh;
    overflow-y: scroll;
  }
}
.tooltip_nav{
  width: 180px;
  height: 121px;
  position: absolute;
  right: 0px;
  top:15px;
  flex-direction: column;
  background: #FFF;
  border: 1px solid #E4E6EB;
  box-shadow: 0px 2px 16px rgba(232, 237, 250, 0.2);
  border-radius: 8px;
  padding: 20px 15px;

  font-family: var(--font-2);
  font-size: var(--f-14);
  li{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    &:hover{
      cursor: pointer;
    }

  }

}

.modalClass{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;  
}

.activelnk{
  color: #C03E21;
  font-weight: bold;
  position: relative;
  &::after{
    content: '';
    display: inline-block;
    position: absolute;
    width:4px;
    height:4px;
    background-color:#C03E21 ;
    border-radius: 100%;
    bottom: -5px;
    left:50%;
  }
  
}

@media only screen and (max-width: 792px) {
  .header{
    justify-content: space-between;
    margin-bottom: 40px;
    .navi_box ,.avatar_div{
      display: none;
    }
    .hamburger{
      display: inline-block
    }
  }
}



