.changePassword{
	display: flex;
	font-family: var(--font-2);
	.left {
		width: 25%;
		flex-shrink: 0;
		h3 {
			font-size: var(--f-24);
			font-weight: 400;
			margin-bottom: 10px;
		}
		p {
			margin: 5px 0px;
			color: #7c7c7c;
			line-height: 2rem;
			font-size: var(--f-14);
		}
	}
	.right{
		display: flex;
		flex:1;		
		padding-left: 40px;
		form{
			width:70%;
		}
	}
	.btn_con{
       text-align: right;
	}

}


@media only screen and (max-width: 927px) {
	.changePassword{
		flex-direction: column;
		
		.left{
			display: flex;
			flex-direction: column;
		    justify-content: center;
			width: 70%;
			margin: 0 auto;
			text-align: center;
			margin-bottom: 40px;
		}
		.right{
			padding-left: 0;
			justify-content: center;
			form{
				width: 70%;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.changePassword{
		
		.right{
			padding-left: 0;
			form{
				width: 100%;
			}
		}
	}
}