.subscriptions {
	display: flex;
	font-family: var(--font-2);
   
	&:hover{
		cursor: pointer;
	}
	.left {
	  width: 25%;
	  flex-shrink: 0;
	  h3 {
		font-size: var(--f-24);
		font-weight: 400;
		margin-bottom: 10px;
	  }
	  p {
		margin: 5px 0px;
		color: #7c7c7c;
		line-height: 2rem;
		font-size: var(--f-14);
	  }
	}
	.right{
		  flex: 1 1;
		  flex-wrap: wrap;
		  gap: 28px;
		
		
	}
	:global(.right_for_sub){		     
			
		article{
			font-family: var(--font-2);
		
		
			&:hover{
				cursor: pointer;
			}
		}
		// article{
		//    &:nth-of-type(1){
		// 	:global(.rec){		     
		// 		color: rgb(0, 0, 0);
		// 		background: rgb(227, 238, 231);
		// 	}
			
		//    }

		// }
		
	}
  }
  