.video_header_wrap {
  background-image: url('/assets/vidheaderbg.png');
}

.filter {
  display: none;

}
.search_input{
  margin-left: auto;
}
.cr_dn {
  margin-top: 5px; 
  margin-left: 5px; 
  color: #c03e21;
}
.vw_all{
  margin-right: 7px;
  color: #000;
  color: #C03E21;
  font-size: var(--f-16);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.wrapperClass{
  width:auto;

}
.inptClass{
  border-bottom:1px solid #111;
  font-weight: bolder;
}

.topics {
  display: flex;
  align-items: center;
  min-height: 150px;
  display: flex;
  padding: 0px 124px;
  flex-wrap: wrap;
  padding-top: 50px;
  align-items: center;

  .xplore {
    padding-top: 10px;
    margin-left: 20px;
    font-size: var(--f-16);
    font-family: var(--font-2);
    font-weight: 700;
    &:hover{
      cursor: pointer;
    }
  }
  .cr_dn {
    color: var(--pri-col);
    margin-left: 5px;
    margin-top: 7px;
  }
}

.filter_box {
  display: flex;
  margin-top: 10px;
  width: 100%;
  height: 0px;
  overflow: hidden;
  font-weight: 400;
  font-size: var(--f-16);
  font-family: var(--font-2);
  transition: all 0.5s ease-in-out;
  > div {
    flex: 1;
  }

  .tags_div {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 7px;
    margin-bottom: 20px;
  }

  .levels_div {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    font-size: var(--f-14);
    span{
      display: flex;
     align-items: center;
    }
  }
}
.filter_box_show {
  height: 200px;
}
.wrapClass{
  position: relative;
  width: auto;
  display: block;
  border-bottom: 2px solid #e5e5e5;
  font-family: Helvetica Neue Regular;
  margin-bottom: 25px;
  margin-left: auto;
}
.content_wrap {
  padding: 40px 100px;
  min-height: 600px;

  .content_tabs {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    
    > span {
      font-size: var(--f-24);
      margin-right: 35px;

      &:hover {
        cursor: pointer;
      }
    }
    .content_sort {
      display: flex;
      margin-left: auto;
      font-family: var(--font-2);
     

      > span {
        font-size: var(--f-16);
        font-weight: 700;
    
      }
      .sortby_div{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: var(--f-16);
        font-weight: bold;
        gap:5px;
     }
    }
  }
  .content_items_wrap {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    //justify-content:center;
    gap:40px;
  }
}
 


@media only screen and (min-width: 1077px) and (max-width: 1392px) {
  .content_wrap {
    padding: 40px 70px;
  }
}

@media only screen and (max-width: 1370px) {
  .topics {
    padding-right: 70px;
    .levels_div {
      width: 90%;
    }
  }
  
}

@media only screen and (max-width: 912px) {
  .content_wrap {
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .video_header_wrap {
    padding-bottom: 10px;
  }
  .topics {
    padding: 0px 20px;
    min-height: auto;
    height: auto;
  }
  .content_wrap {
    .content_tabs {
      display: block;
      margin-bottom: auto;
      > span {
        font-size: var(--f-18);
      }
    }
    .content_sort {
      padding-top: 20px;
      margin-top: 10px;
      border-top: 1px solid #e5e5e5;
    }
  }
  .filter_box {
    display: block;
    .tags_div {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 7px;
      margin-bottom: 25px;
      height: 150px;
      overflow-y: scroll;
      align-content: flex-start;
    }
  }
  .filter_box_show {
    height: 300px;
  }
}
@media only screen and (max-width: 450px) {
  .video_header_wrap {
    background-image: none;
  }
  .content_wrap {
    padding: 40px 20px;
  }
  .topics {
    justify-content: space-between;
    align-items: center;

    .xplore,
    .cr_dn {
      display: none;
    }
    :global(.title) {
      font-size: var(--f-24);
    }
    .levels_div {
      width: 100%;
    }
  }
  .filter {
    display: inline-block;
  }
}

@media only screen and (max-width: 375px) {
  .content_wrap {
    padding: 40px 20px;
  }
  .topics {
    .levels_div {
      font-size: 1.1rem;
    }
  }
}
