.label {
  padding: 9px 14px;
  background: #e5e5e5;
  border-radius: 8px;
  font-size: var(--f-14);
  font-family: var(--font-2);
  text-transform: capitalize;
}

.label_check {
  label {
    display: inline-flex;
    align-items: center;
    position: relative;
    @extend .label;
    svg {
      visibility: hidden;
      opacity: 0;
      transition: all 0.4s linear;
    }
  }
  input[type='checkbox'],
  input[type='radio'] {
    display: none;

    &:checked {
      + label {
        background: #abead3;
        svg {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
