.topheader{
    
    background-image: url("/assets/vidheaderbg.png");
   .section{
        
 
        margin: 50px auto 0px auto;
        padding-bottom: 5px;
        width: 85%;
        margin-top: 0;
        padding-top: 50px;
    
    }
    :global(.navi){
        .uli{
            padding-left: 0;
            font-size: var(--f-16);
            font-family: var(--font-2);
            margin-top: 32px;
            li{
                padding-left: 0;
                margin-right: 3rem;

                &:hover{
                    cursor: pointer;
                    color: #C03E21;
                  }
            }
           
        }
      
    }
    
}

.main{
    margin:20px auto 0px auto;
    
    width:85%;
    :global(.title){
        font-size: var(--f-24);
        margin-bottom: 2rem;
    }
    .lastviewed_details{
        display: flex;
        border: 1px solid #E5E5E5;
        border-radius: 8px;
        margin-top:20px;
        height: 190px;
        
        > div{
           flex: 1; 
           display: flex; 
           height: 190px
        }
    }
    .imgBx{
        position: relative;
        width:20%;
        flex-shrink: 0;
        border-radius: 8px 0px 0px 8px;
        height: 100%;
        &:hover{
            cursor: pointer;
        }
        svg{
            top: 50%;
            left: 50%;
            z-index: 500;
            color: #fff;
            display: none;
            &:hover{
                transform: scale(1.2);
                cursor: pointer;
            }
        }
        img{
            object-position: center;
        }
        .overlay{
            width: 100%;
            position: absolute;
            top:0;
            left:0;
            border-radius: 8px 0px 0px 8px;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,0.7);

        }
    }
    .lblBx{
        width:27%;
        border-radius: 0px 8px 8px 0px;
        height: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        padding-right: 20px;
    }
    .midBx{
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        :global(.elips){
            width: 400px;
        }
    }
    .rating_div {
        display: flex;
        gap: 2px;
        color: #d78806;
        align-items: center;
        margin-top: 12px;
        font-size:var(--f-14);
        font-family: var(--font-2);

      }
    .min_details {
        display: flex;
        font-size: var(--f-16);
        align-items: center;
        margin-top: 20px;
        font-family: var(--font-2);
        margin-bottom: 10px;
        span{
            display: flex;
            align-items: center;
        }
    }
    .labeltag{
        display: inline-flex;
        justify-content: flex-end;
        flex-wrap: wrap;
       

        label{
            margin-right: 7px;
            margin-bottom: 10px;
        }
    }

      .progressbar{
        width:80%;
        margin-top: auto;
      }

      .btnDv{
        width:180px
      }
}

.content_items_wrap {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    gap:40px;
}


@media only screen and (max-width: 768px) {
    .topheader{
        .section{
            padding-top: 0;
        }
    }
    .main{
        width: 95%;
        .lastviewed_details{
          display: block;
          height:auto;
        }
        .lblBx{
            width: 100%;
            flex-direction: row;
            padding-left: 10px;
            flex-wrap: wrap;
            label{
                margin-bottom: 10px;
            }
        }
        .progressbar{
            width: 100%;
        }

        .btnDv{
            width:200px;
            margin-left: auto;
            button{
                width: 100%;
            }
        }
        .midBx{
            :global(.elips){
                width: 250px;
            }
        }
    }
}


@media only screen and (max-width: 425px) {
    .topheader{
        background-image: none;
    }
    .main{
        width:92%;
        .labeltag{
            justify-content: flex-start;
        }
        .rating_div {
            font-size: var(--f-12);
        }
        .btnDv{
            width: 100%;
            margin: auto;
        }
        .lastviewed_details{
            > div{
                flex-direction: column;
                height: auto;
            }           
        }
        .imgBx{
            position: relative;
            width: 100%;
            flex-shrink: 0;
            border-radius: 8px 0px 0px 8px;
            height: 150px;

            .overlay{
                border-radius: 8px 8px 0px 0px;
            }
        }
        .lblBx{
            align-items: flex-start;
        }
       
    }

}

// osition: relative;
//     width: 100%;
//     flex-shrink: 0;
//     border-radius: 8px 0px 0px 8px;
//     height: 150px;