._404{
    display:flex;
    height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-2);
    h1{
        margin-bottom: 20px;
    }
}