.modal_wrapper{
	position:fixed;
	top:0;
	left: 0;
	background: rgba(0,0,0,0.8);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease; 
	z-index:1000;
	.span{
		color: #fff;
		font-size: var(--f-36);
		font-family: var(--font-2);
		position: fixed;
		top: 10px;
		right: 10px;
		border:1px solid #fff;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 35px;
		width: 35px;
		padding-bottom: 10px;	
		border-radius: 100%;
		transform: scale(.8);
		transition: transform .2s ease;
		&:hover{
	       cursor: pointer;
		   transform: scale(1);
		}
		
	}
	.arrow{
		top: 0px;
		right: 0px;
		height: 32px;
		width: 32px;
		border:1px solid #111;
		border-radius: 100%;
		display: inline-flex;
		align-items: center;
		font-size: var(--f-24);
		justify-content: center;
		flex-shrink: 0;
		&:hover{
			cursor: pointer;
			transform: scale(1);
		 }
	}
	.modal_cont{
		display: flex;
		background-color: #fff;
		padding: 25px;
		max-width: 70%;
		border-radius: 8px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-100px);
		transition: opacity .5s ease, visibility .5s ease, transform .5s ease ; 

	}
	
}

.open_wrapper{
	opacity: 1;
	visibility: visible;
	.modal_cont{
		transform: translateY(0px);
		opacity: 1;
		visibility: visible;
	}
}

@media only screen and (max-width: 1024px) {
	.modal_wrapper{
		.modal_cont{
			max-width: 98%;
		}

	}
}

@media only screen and (max-width: 768px) {
	.modal_wrapper{
		.span{
			height: 35px;
			width: 35px;
			top: 15px;
			svg{
				width: 1px;
				height: 1px;
			}

		}
		.arrow{
			height: 25px;
			width: 25px;
			position: absolute;
			top: 20px;
			left: 20px;
			
		}
    }
}