@import 'font.css';

:root {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  color: var(--pri-col);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gascogne-DemiBold, sans-serif;
  font-size: 10px;
  --font-2: Helvetica Neue Regular, sans-serif;
  --btn-col-1: #c03e21;
  --brd-col: #b3afaf;
  --col-lyt-ash: #dddddd;
  --col-body-bg: #f9f9fb;
  --col-bg-2: #e3eee7;
  --col-ash: #aaaaaa;
  --col-sec: #015351;
  --col-wt: #ffffff;
  --pri-col: #111111;
  --col-bg2: #eeeeee;
  --star-col: #eba430;
  --pg-bg-col: #f3f4f5;
  --hv-bg-col: #81ebff;
  --txt-col: #7c7c7c;
  --txt-col2: #637170;
  --plh-col: #b3afaf;
  --col-4: #5fc8de;
  --f-10: 1rem;
  --f-12: 1.2rem;
  --f-14: 1.4rem;
  --f-16: 1.6rem;
  --f-18: 1.8rem;
  --f-20: 2rem;
  --f-22: 2.2rem;
  --f-24: 2.4rem;
  --f-28: 2.8rem;
  --f-32: 3.2rem;
  --f-34: 3.4rem;
  --f-36: 3.6rem;
  --f-64: 6.4rem;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.f-14 {
  font-size: 1.4rem;
}
.d-flx {
  display: flex;
}
.flx_jc_ac{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx_jc_sb{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flx_jc_ac_cl{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flx_jc{
  display: flex;
  justify-content: center;
 
}
.modal-width{
  min-width: 300px;
}

.flx_jc_cl{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.flx_ac{
  display: flex;
  align-items: center;
}
.flx_ac_cl{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.codeloading{
  border: 1px solid #015351;
  border-bottom-color: transparent;
  border-top-color: transparent;
}
.hide{
  opacity:0;
  visibility: hidden;
}
.link{
  display: inline-block;
  color: #015351; 
  margin: auto; 
  font-size: 1.6rem;
  font-family: var(--font-2);
}	

.modalClass{
	width: 70%;
	min-height: 400px;
   
}

.modalClass2{
	width: 50%;
	min-height: 400px;
   
}

.activelnk{
  color: #C03E21;
  font-weight: bold;
  position: relative;
  &::after{
    content: '';
    display: inline-block;
    position: absolute;
    width:4px;
    height:4px;
    background-color:#C03E21 ;
    border-radius: 100%;
    bottom: -5px;
    left:50%;
  }
 
  
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left top;
}
button {
  border: none;
  padding: 10px;
  min-width: 70px;
  border-radius: 8px;
  background-color: var(--col-lyt-ash);
  color: #fff;
  font-size: var(--f-16);
}
button > svg {
  margin-top: 5px;
  margin-left: 7px;
}

.btn {
  border: none;
  padding: 10px;
  min-width: 70px;
  border-radius: 8px;
  background-color: var(--col-lyt-ash);
  color: #fff;
  font-size: var(--f-16);
}

.red {
  color: #c03e21;
}
.hand:hover {
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
.h2 {
  font-size: var(--f-64);
}
.title {
  font-size: var(--f-32);
  font-family: Gascogne-DemiBold, sans-serif;
  font-weight: 400;
}
.title + p {
  width: 100%;
  font-size: var(--f-18);
  font-family: var(--font-2);
}

.center {
  text-align: center;
}
.socials {
  display: flex;
  justify-content: space-between;
  width: 70%;
  svg {
    &:hover {
      cursor: pointer;
    }
  }
}

.btn_arrow_dw::after {
  content: url('../svgs/arrow.svg');
  margin-top: 5px;
  margin-left: 10px;
}

.left-icon-pos {
  left: 0px;
  bottom: 29px;
}
.icon {
  color: #7c7c7c;
}

.icon-left ~ input {
  padding-left: 28px;
}

.icon-right ~ input {
  padding-right: 28px;
}
.elips {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.country {
  width: 102px;
}
.invrt-btn{
  background: transparent;
  color:#015351;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: var(--pg-bg-col);
  padding: 0px;
  padding-bottom: 0px;
  overflow: scroll;
  max-width: 2500px;
  margin: 0 auto;
}
.abs-center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}
.bar {
  display: inline-flex;
  align-items: center;
  &::after {
    content: ' ';
    display: flex;
    align-items: center;
    border: 1.7px solid #e5e5e5;
    background: #e5e5e5;
    margin-right: 2px;
  }
  &:nth-of-type(1) {
    &::after {
      height: 7px;
      transform: translateY(1.2px);
    }
  }
  &:nth-of-type(2) {
    &::after {
      height: 10px;
    }
  }
  &:nth-of-type(3) {
    &::after {
      height: 14px;
      transform: translateY(-1.5px);
    }
  }
}

.Intermediate,
.Advanced,
.Beginner {
  display: inline-flex;
  align-items: center;
}

.Intermediate {
  .bar {
    &:nth-of-type(1) {
      &::after {
        border: 1.7px solid #30656f;
        background: #30656f;
      }
    }
    &:nth-of-type(2) {
      &::after {
        border: 1.7px solid #30656f;
        background: #30656f;
      }
    }
  }
}

.Advanced {
  .bar {
    &:nth-of-type(1) {
      &::after {
        border: 1.7px solid #30656f;
        background: #30656f;
      }
    }
    &:nth-of-type(2) {
      &::after {
        border: 1.7px solid #30656f;
        background: #30656f;
      }
    }
    &:nth-of-type(3) {
      &::after {
        border: 1.7px solid #30656f;
        background: #30656f;
        transform: translateY(-2px);
      }
    }
  }
}

.Beginner {
  .bar {
    &:nth-of-type(1) {
      &::after {
        border: 1.7px solid #30656f;
        background: #30656f;
      }
    }
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.starwrap {
  display: flex;
  margin-top: 10px;
  font-size: var(--f-16);
  color: #d78806;
  font-family: var(--font-2);
  & > div {
    margin: 0 5px;
    &:first-child {
      margin: 0px;
    }
  }
}

.app-pad {
  padding: 0px 65px;
}

.logo_div {
  position: relative;
  display: inline-block;
  width: 182.3px;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 20px;

  + h2 {
    font-size: var(--f-32);
  }
}

.auth_page {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  width: 100%;
  height: 100vh;
  .wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
  }
  .topSection {
    text-align: center;
    .title {
      font-weight: bolder;
      + p {
        font-size: var(--f-16);
        color: var(--txt-col2);
        font-family: var(--font-2);
        width: 81%;
        margin: 25px auto;
      }
    }
  }

  .fg_pass {
    font-size: var(--f-14);
    font-family: var(--font-2);
    color: var(--col-sec);
  }
  .sign_up {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-2);
    font-size: var(--f-16);
   // margin-top: 40px;
    margin-top: 28px;
    align-items: center;
    span {
      color: #637170;
    }
    a {
      color: var(--col-sec);
      text-decoration: underline;
      font-weight: bold;
      margin-left: 5px;
    }
    button {
      background-color: var(--btn-col-1);
      min-width: 148px;

      svg {
        margin-top: 5px;
        margin-left: 7px;
      }
    }
  }
}
.rating_div {
  display: flex;
  gap: 2px;
  color: #d78806;
  align-items: center;
  margin-top: 12px;
}


// star css begins
.star_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.star_container {
  position: relative;
  // width: 16.78px;
  // height: 15.38px;
  min-width: 18.78px;
  min-height: 18.38px;
  background: #333;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );

  .star_glider {
    background: #d78806;
    position: absolute;
    min-width: 18.78px;
    min-height: 18.38px;
    inset: 0;
  }
}
// star css end


// checkbox/radio css begins

.checkbox {

  display: inline-flex;
  .cbox {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #000;
    border-radius: 5px;

    &::after {
      content: ' ';
      display: inline-block;
      width: 8px;
      border: 1px solid #000;
      border-right: none;
      border-bottom: none;
      left: 4.5px;
      position: absolute;
      height: 12px;
      transform: rotate(226deg);
      opacity: 0;
      visibility: hidden;
      transition: opacity;
      transition: all 0.3s linear;
    }
  }
  input[type='checkbox'],
  input[type='radio'] {
    display: none;
    &:checked {
      // background-color: red;
      + .cbox {
        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}




// checkbox/radio css ends


// 5-ratings star css
.ratings_gen{
  display: flex;
  justify-content: space-between;
  padding: 0 25px;

  .star_container{
      width: 55px;
      height: 55px;
      .star_glider{
          width: 55px;
          height: 55px;
          
      }
      &:hover{
          cursor: pointer;
      }
  }  
  
}

// end of 5-ratings star css






.navi {
  ul {
    display: flex;
    li {
      list-style: none;
    }
  }
}
.Toastify__toast-body {
  z-index: 999999 !important;
}

.right_for_sub{
  display: flex;
  padding-left: 40px;
}
.spin {
  animation: pay-animation 1s infinite;
}

@keyframes pay-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rec{
  text-align: center;
  color: rgb(0, 0, 0);
	background: rgb(227, 238, 231);
  margin: 0px;
  height: 25px;
  font-size: 1.4rem;
  padding-top: 5px;
  border-radius: 8px 8px 0px 0px;
  transform: translateY(4px);
}

.split {
  margin-top: 10px;
  display: flex;
  gap: 35px;
}

.flx-dir-col {
  flex-direction: column;
  align-items: stretch;
}
.avatar {
  img {
    border-radius: 50%;
    object-position: center center;
  }
}
.error {
  color: red;
  font-size: 1.2rem;
  font-family: var(--font-2);
}
.error-big{
  color: #eb1212;
  font-size: 1.8rem;
  z-index: 900;
  font-family: var(--font-2);
}

#nprogress .bar {
  background: #c03e21 !important;
 border: 4px solid #c03e21 ;
}

#nprogress .peg {
  box-shadow: 0 0 10px #FFBB00, 0 0 5px #FFBB00;
}

#nprogress .spinner-icon {
  border-top-color: #c03e21;
  border-left-color: #FFBB00;
  width:25px;
  height: 25px;
}

.updateInfo{
  width:550px;
  padding-bottom: 20px;
  .imgDiv{    
      width: 115px;
      height: 115px;
      position: relative;
      margin: 0 auto;
  }
  .complete-info{
 
    width:85%;
    margin: 0 auto;
    text-align: center;
    h2{
      margin-top: 20px;
      
    }
   
  }
  button{
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media only screen and (max-width: 425px) {
  .login {
    padding: 40px 20px;
    .topSection {
      :global(.title) {
        + p {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .fg_pass {
      text-align: right;
    }
    .sign_up {
      flex-direction: column;
      font-size: var(--f-14);
      :nth-child(1) {
        order: 2;
      }
      button {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
}

@media only screen and (max-width: 1146px) {
  .app-pad {
    padding: 0px 35px;
  }
}
@media only screen and (max-width: 1024px) {
  .title {
    font-size: 32px;
  }
}

@media only screen and (max-width: 425px) {
  .logo_div {
    position: relative;
    width: 148px;
    height: 26px;
    margin-bottom: 50px;
    + h2 {
      font-size: var(--f-20);
    }
  }

  .app-pad {
    padding: 15px;
  }

  .auth_page {
    padding: 40px 20px;
    .topSection {
      .title {
        font-weight: 400;
        + p {
          width: 100%;
          margin-top: 10px;
        }
      }
    }

    .fg_pass {
      text-align: right;
    }
    .sign_up {
      flex-direction: column;
      font-size: var(--f-14);
      :nth-child(1) {
        order: 2;
      }
      button {
        width: 100%;
        margin-bottom: 25px;
      }
    }
  }
  .split {
    flex-direction: column;
    grid-gap: 0px;
    gap: 0px;
  }
}
