@import 'font.css';

:root {
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  color: var(--pri-col);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Gascogne-DemiBold, sans-serif;
  font-size: 10px;
  --font-2:Helvetica Neue Regular, sans-serif;
  --btn-col-1: #c03e21;
  --brd-col: #b3afaf;
  --col-lyt-ash: #dddddd;
  --col-body-bg: #f9f9fb;
  --col-bg-2: #e3eee7;
  --col-ash: #aaaaaa;
  --col-sec: #015351;
  --col-wt: #ffffff;
  --pri-col: #111111;
  --col-bg2: #eeeeee;
  --star-col: #eba430;
  --pg-bg-col: #f3f4f5;
  --hv-bg-col:#81EBFF;
  --txt-col:#7C7C7C;
  --txt-col2:#637170;
  --plh-col:#B3AFAF;
 --col-4:#5FC8DE;
  --f-10: 1rem;
  --f-12: 1.2rem;
  --f-14: 1.4rem;
  --f-16: 1.6rem;
  --f-18: 1.8rem;
  --f-20: 2rem;
  --f-22: 2.2rem;
  --f-24: 2.4rem;
  --f-28: 2.8rem;
  --f-32: 3.2rem;
  --f-34: 3.4rem;
  --f-36: 3.6rem;
  --f-64: 6.4rem;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
.f-14{
  font-size: 1.4rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left top;
}
button {
  border: none;
  padding: 10px;
  min-width: 70px;
  border-radius: 8px;
  background-color: var(--col-lyt-ash);
  color: #fff;
  font-size: var(--f-16);
  
}
button > svg{
 
    margin-top: 5px;
    margin-left: 7px;
  
}

.btn{

    border: none;
    padding: 10px;
    min-width: 70px;
    border-radius: 8px;
    background-color: var(--col-lyt-ash);
    color: #fff;
    font-size: var(--f-16);
    
}

.red{
 color: #C03E21
}
.hand:hover{
  cursor: pointer;
}
a {
  color: inherit;
  text-decoration: none;
}
.h2 {
  font-size: var(--f-64);
}
.title{
  font-size: var(--f-32);
  font-family: Gascogne-DemiBold, sans-serif; 
  font-weight: 400;

}
.title + p{
  width:100%
}

.center{
  text-align: center;
}

.btn_arrow_dw::after {
  content: url('../svgs/arrow.svg');
  margin-top: 5px;
  margin-left: 10px;
}

.left-icon-pos{
  left: 0px;
  bottom: 29px;
}
.icon{
  color:#7C7C7C;
}

.icon-left ~ input{
 
  padding-left: 28px;

}

.icon-right ~ input{
 
  padding-right: 28px;

}

.country{
  width:102px;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: var(--pg-bg-col);
  padding: 0px;
  padding-bottom: 0px;
  overflow: scroll;
  max-width: 1663px;
  margin: 0 auto;
  
}

.bar{
  display: inline-flex;
 align-items: center;
    &::after{
      content: ' ';
      display: flex;
      align-items: center;
      border: 1.7px solid #e5e5e5;
      background:#e5e5e5 ;
      margin-right: 2px;
    
     
      
    }
    &:nth-of-type(1){  
      &::after{
        height:7px;
        transform: translateY(1.2px);
      }   
    }
    &:nth-of-type(2){  
      &::after{
        height:10px;
      }   
    }
    &:nth-of-type(3){  
      &::after{
        height:14px;
        transform: translateY(-1.5px);
      }   
    }
}

.intermediate{
  .bar{
    &:nth-of-type(1){  
      &::after{
        border: 1.7px solid #30656F;
        background:#30656F ;
      }   
    }
    &:nth-of-type(2){  
      &::after{
        border: 1.7px solid #30656F;
        background:#30656F ;
      }   
    }
  }
}

.expert{
    .bar{
    &:nth-of-type(1){  
      &::after{
        border: 1.7px solid #30656F;
        background:#30656F ;
      }   
    }
    &:nth-of-type(2){  
      &::after{
        border: 1.7px solid #30656F;
        background:#30656F ;
      }   
    }
    &:nth-of-type(3){  
      &::after{
        border: 1.7px solid #30656F;
        background:#30656F;
        transform: translateY(-2px);
      }   
    }
  }
 
}

.beginner{
  .bar{
    &:nth-of-type(1){  
      &::after{
        border: 1.7px solid #30656F;
        background:#30656F ;
      }   
    }
  }
 
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
