.modalClass{
	width:40%;
	height:auto;
}

.codeloading{
	border: 1px solid #015351;
	border-bottom-color: transparent;
    border-top-color: transparent;
}

.status{
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}

@media only screen and (max-width: 768px) {
	.modalClass{
		width:60%;		
	}
  }